.container {
    width: 70%;
    height: 105%;
    margin: auto;
    background-color: #E8F0F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
}

#aname {
    text-align: center;
    text-decoration: underline;
}

#iname {
    text-align: center;
    background-color: #3395BB;
    width: 70%;
    margin: auto;
    height: 40px;
    color: #ffffff;
    margin-top: 10px;
    font-size: larger;
}

#hname {
    color: #ffffff;
    background-color: #2B74C1;
    text-align: center;
    width: 70%;
    margin: auto;
    height: 40px;
}

#tag {
    padding: 20px 0px 20px 150px;
    background-color: #E8F0F8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: red;
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#fathername {
    margin-left: 55px;
}

#mothername {
    margin-left: 50px;
}

#birthday {
    margin-left: 65px;
    margin-top: 10px;
    cursor: pointer;
}

#gender {
    margin-left: 105px;
    margin-top: 20px;
    cursor: pointer;
}

#category {
    margin-top: 20px;
    margin-left: 97px;
    cursor: pointer;
}

#nationality {
    margin-top: 20px;
    margin-left: 82px;
    cursor: pointer;
}

#mark {
    margin-top: 20px;
    margin-left: 9px;
}

#con {
    text-decoration: underline red;
    background-color: #2B74C1;
    height: 30px;
    color: #ffffff;
}

#number {
    margin-left: 46px;
}

#number2 {
    margin-left: 10px;
    margin-top: 20px;
}

#gmail {
    margin-left: 95px;
    margin-top: 20px;
}

#gmail2 {
    margin-left: 30px;
    margin-top: 20px;
}

#telenum {
    margin-left: 35px;
    margin-top: 20px;
}

#addname {
    text-decoration: underline red;
    margin-top: 30px;
    background-color: #2B74C1;
    height: 30px;
    color: #ffffff;
}



#line2 {
    margin-left: 90px;
}

#line3 {
    margin-top: 20px;
    margin-left: 0px;
}

#line4 {
    margin-top: 20px;
    margin-left: 90px;
}
#state{
    margin-top: 20px;
     margin-left: 3px;
     cursor: pointer;
}
#District{
    margin-top: 20px;
    margin-left: 160px;
    cursor: pointer;
}
#tahasil{
    margin-top: 20px; 
    cursor: pointer;
}
#pincode{
    margin-left: 150px;
}
#education{
    margin-top: 30px;
    text-decoration: underline red;
    background-color: #2B74C1;
    height: 30px;
    color: #ffffff;
}
#board{
    margin-left: 20px;
}
#class{
    margin-left: 67px;
    cursor: pointer;
}
#rollno{
    margin-left: 80px;
}
#Subject{
    margin-left: 82px;
}
#year{
    margin-left: 50px;
    cursor: pointer;
}
#per{
    margin-left: 46px;
}
#hsc{
    margin-top: 30px;
    cursor: pointer;
}
#phosig{
    background-color: #2B74C1;
    color: #ffffff;
    text-decoration: underline red;
    height: 30px;
}
#photo{
    width: 30%;
    margin-left: 90px;
    margin-top: 70px;
}
#sign{
    width: 30%;
    margin-left: 450px;
    margin-top: -185px;
}
#file{
    margin-top: 50px;
    margin-left: 10px;
}
#jpg{
    color: #568ee8;
}
#Declaration{
    background-color: #2B74C1;
    color: #ffffff;
    height: 30px;
    text-decoration: underline red;
}
#paragraph{
    margin-top: 30px;
    margin-left: 25px;
}
#cheakbox{
    margin-top: 40px;
    margin-left: 50px;
    cursor: pointer;
}
#button{
    background-color: rgb(239, 123, 14);
    color: #ffffff;
    margin-top: 200px;
    margin-left: 40%;
    cursor: pointer;
    border: none;
    padding: 10px 20px 10px 20px;
}
#butt{
    background-color: rgb(2, 27, 82);
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 10px 20px 10px 20px;
}